#root {
  color: red;
  width: 100%;
}
.tile {
  display: block;
  width:25%;
  text-justify: auto;
  padding: 15 px;
}
.id {
  color: green;
}
.root {
  display: flex;
  flex-wrap: wrap;
}

.img{
  width:80%;
  align-self:bottom;
}