html, body {
  font-family: 'Roboto', sans-serif;
}
#root {
  color: rgb(255, 217, 2);
  width: 100%;
  display:flex;
  flex-direction:column;
  padding-left:15px;
  padding-right:15px;
}
.series {
  color: rgb(255, 217, 2);
  width: 100%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.code{
  color: rgb(255, 217, 2);
  font-size: x-small;
  font-weight: lighter;
  margin-left:10px;
  margin-right:10px;
  margin-top:2px;
  }
.tile {
  display: flex;
  flex-wrap: nowrap;
  flex-direction:column;
  width:30%;

  text-justify: auto;
 
  background-image: linear-gradient(to bottom right, rgb(36, 36, 36), rgb(0, 0, 0));

  justify-content: stretch;
  justify-content: space-between;
}
  
@media only screen and (max-width: 500px){
  .tile {
  width:100%;
}
}
.id {
  color: rgb(255, 217, 2);
  font-size: x-small;
  font-weight: lighter;
  margin-left:10px;
  margin-right:10px;
  margin-top:2px;
}
#root {
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-evenly;
}
.searchBox{
  margin-right:30px;
  background-color:white;

}
.dropDownContainer{
  display: flex;
  width:30%;
  margin-left:30px;

}
.link{
  color:pink;
  margin:30px;
  width:100%;
  float:left;
}
@media only screen and (max-width: 500px){
  .dropDownContainer {
  width:100%;
}
}
.dropDown{
  width:auto;
}

.nav{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width:100%;
  padding:30px;
  justify-content:space-between;
  align-items: center;
  
}
.display{
  display:flex;
  float:right;
  justify-content: flex-end;
  width:100vw;
  margin-right: 30px;
}
.tileHead{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;


}

.episName{
  font-size: large;
  margin-top:2px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  color:white;
  min-width:50%;
}
.img{
  width:100%;
  align-self: flex-end;
}
.episode{
  color: rgb(255, 217, 2);
  font-size:small;
  margin-top:2px;
  margin-left:10px;
  margin-right:10px;
  align-self: flex-start;
}
  .season{
  color: rgb(0, 0, 0);
  font-family: Impact;
  font-size:large;
  font-weight:bolder;
  margin-left:0px;
  margin-top:5px;
  margin-right:10px;
  padding-left:10px;
  margin-left:-3px;
  background-image: linear-gradient(to bottom right,  rgb(243, 207, 2),rgb(255, 238, 0),  rgb(207, 144, 7),rgb(223, 208, 7));
  width:50%;
  }
  .plate{
    min-width:50%;

  }

.para{
  margin-left:10px;
  margin-right:10px;
  color:white;
  align-self:top;
  text-align: justify;
  margin-top:5px;
  hyphens:auto;
  width:90%;
}


