html, body {
  font-family: 'Roboto', sans-serif;
}
#root {
  color: rgb(255, 217, 2);
  width: 100%;
  display:flex;
  flex-direction:column;
}
.series {
  color: rgb(255, 217, 2);
  width: 100%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tile {
  display: flex;
  flex-wrap: nowrap;
  flex-direction:column;
  width:30%;

  text-justify: auto;
  padding: 5px;
  background-image: linear-gradient(to bottom right, rgb(36, 36, 36), rgb(0, 0, 0));
  margin:5px;
  justify-content: stretch;
  justify-content: space-between;
}
  
@media only screen and (max-width: 500px){
  .tile {
  width:100%;
}
}
.id {
  color: rgb(255, 217, 2);
  font-size: x-small;
  font-weight: lighter;
  margin-left:10px;
  margin-right:10px;
  margin-top:2px;
}
#root {
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-evenly;
}
.search{
  display:inline-flex;
  width:100%;
  min-height: 20px;
  background-color:white;
  margin-top:25px;
}
.nav{
  display:inline-flex;
  width:100%;
  padding:15px;
  justify-content: flex-end;
  
}
.tileHead{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;


}
.search{
  width:10%;
  float:left;
}
.episName{
  font-size: large;
  margin-top:2px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  color:white;
  min-width:50%;
}
.img{
  width:100%;
  align-self: flex-end;
}
.episode{
  color: rgb(255, 217, 2);
  font-size:small;
  margin-top:2px;
  margin-left:10px;
  margin-right:10px;
  align-self: flex-start;
}
  .season{
  color: rgb(0, 0, 0);
  font-family: Impact;
  font-size:large;
  font-weight:bolder;
  margin-left:0px;
  margin-top:5px;
  margin-right:10px;
  padding-left:10px;
  margin-left:-3px;
  background-image: linear-gradient(to bottom right,  rgb(243, 207, 2),rgb(255, 238, 0),  rgb(207, 144, 7),rgb(223, 208, 7));
  width:50%;
  }
  .plate{
    min-width:50%;

  }

.para{
  margin-left:10px;
  margin-right:10px;
  color:white;
  align-self:top;
  text-align: justify;
  margin-top:5px;
  hyphens:auto;
  width:90%;
}


